<section class='hero'>
    <div class="container" id="intro">
        <div class="row">
            <div class="col-md-12 my-lg-5">
                <div class="col-12 col-lg-8 hero-text mt-md-2 mt-lg-5">
                    <h1 class="font-weight-bold">Lee Toye - MTM TEST</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main">
    <div class="container">
        <div id="movieFilter">
            <label for="popFilter">Popularity</label>
            <select id="popFilter">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>

            </select>
        </div>
        <div id="movieList">
        </div>

    </div>
</section>